@using ASPNETCore.Projet1.Services.Contracts
<!DOCTYPE html>

<nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
	<div class="container-fluid">
		<p class="navbar-brand" asp-area="">Exo 3</p>
		<button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
				aria-expanded="false" aria-label="Toggle navigation">
			<span class="navbar-toggler-icon"></span>
		</button>
		<div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
			<ul class="navbar-nav flex-grow-1">
				<li class="nav-item">
					<a class="nav-link text-dark" asp-area=""
					   asp-controller="Exo3VuesPartielles"
					   asp-action="AfficherRandom">
						Afficher <br />
						View Component <br />
						Via une Action
					</a>
				</li>
				<li class="nav-item">
					<a class="nav-link text-dark" asp-area=""
					   asp-controller="Exo3VuesPartielles"
					   asp-action="UtiliserServiceDepuisAction">
						Utiliser Service <br />
						Depuis Action
					</a>
				</li>
			</ul>
		</div>
	</div>
</nav>

<div>
	@*BIEN METTRE DES TIRETS ENTRE CHAQUE MOT DU NOM DU VIEWCOMPONENT
	(détection PascalCase vers KebabCase) MinMaxRand -> Min-Max-Rand OSKOUR*@
	<vc:Min-Max-Rand Min="0" Max="100"></vc:Min-Max-Rand>
	<p></p>
	<p></p>
	@*Injection du service dans la vue, pratique mais le service ne peut pas etre remplace ?*@
	@inject IMinMaxService MinMaxRandService
	<p>Resultat du service appele depuis la vue : @MinMaxRandService.ProcessNumber(3, 89)</p>
</div>