<!DOCTYPE html>

<nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
	<div class="container-fluid">
		<p class="navbar-brand">Exo 1</p>
		<button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
				aria-expanded="false" aria-label="Toggle navigation">
			<span class="navbar-toggler-icon"></span>
		</button>
		<div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
			<ul class="navbar-nav flex-grow-1">
				<li class="nav-item">
					<a class="nav-link text-dark" asp-area=""
					   asp-controller="Exo1TestData"
					   asp-action="TestData1">
						PageTestData1
					</a>
				</li>
				<li class="nav-item">
					<a class="nav-link text-dark"
					   asp-area=""
					   asp-controller="Exo1TestData"
					   asp-action="TestData2">
						PageTestData2
					</a>
				</li>
				<li class="nav-item">
					<a class="nav-link text-dark"
					   asp-area=""
					   asp-controller="Exo1TestData"
					   asp-action="TestData3">
						PageTestData3
					</a>
				</li>
				<li class="nav-item">
					<a class="nav-link text-dark"
					   asp-area=""
					   asp-controller="Exo1TestData"
					   asp-action="TestData4">
						PageTestData4
					</a>
				</li>
			</ul>
		</div>
	</div>
</nav>