@model Message

<!DOCTYPE html>

<nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
	<div class="container-fluid">
		<p class="navbar-brand" asp-area="">Exo 2</p>
		<button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
				aria-expanded="false" aria-label="Toggle navigation">
			<span class="navbar-toggler-icon"></span>
		</button>
		<div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
			<ul class="navbar-nav flex-grow-1">
				<li class="nav-item">
					<a class="nav-link text-dark" asp-area=""
					   asp-controller="Exo2Message"
					   asp-action="EnvoiFormNonType">
						Envoi de formulaire <br />
						non typé
					</a>
				</li>
				<li class="nav-item">
					<a class="nav-link text-dark" asp-area=""
					   asp-controller="Exo2Message"
					   asp-action="EnvoiFormFortementType">
						Envoi de formulaire <br />
						fortement typé
					</a>
				</li>
				<li class="nav-item">
					<a class="nav-link text-dark" asp-area=""
					   asp-controller="Exo2Message"
					   asp-action="AffichageMessage">
						Affichage  <br />
						Message
					</a>
				</li>
				<li class="nav-item">
					<a class="nav-link text-dark" asp-area=""
					   asp-controller="Exo2Message"
					   asp-action="AffichageListeMessages">
						Affichage  <br />
						liste  <br />
						Message
					</a>
				</li>
				<li class="nav-item">
					<a class="nav-link text-dark" asp-area=""
					   asp-controller="Exo2Message"
					   asp-action="EnvoiListeString">
						Envoi  <br />
						liste  <br />
						String
					</a>
				</li>
				<li class="nav-item">
					<a class="nav-link text-dark" asp-area=""
					   asp-controller="Exo2Message"
					   asp-action="EnvoiListeMessages">
						Envoi  <br />
						liste  <br />
						Messages
					</a>
				</li>
			</ul>
		</div>
	</div>
</nav>
<div>
	<p></p>
	<p></p>
</div>